<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Restaurants</title>
</head>
<body>
<a href="{{url_for('new_restaurant')}}" > <h3> Create a New Restaurant </h3> </a>
</br>

{% for restaurant in restaurants: %}
    <a href = "{{url_for('show_menu', restaurant_id = restaurant.id)}}"> <p>{{restaurant.name}}</p></a>
    <p><a href = "{{url_for('edit_restaurant', restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>
    <p> <a href = "{{url_for('delete_restaurant', restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>
    </br>

{% endfor %}

</body>
</html>